<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interface.Properties.Settings.SISCOVEDBConnectionString"
            connectionString="Data Source=luc-asus\sqlexpress;Initial Catalog=SISCOVEDB;Persist Security Info=True;User ID=sa;Password=hatysa;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>